.App {
  display: flex;
  height: 100%;
  flex-direction: column;
  color: #ff0090;
  padding: 20px;
}

.content {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  color: #ff0090;
  flex-direction: column;
}

.clickableButton {
  border: 3px solid #ff0090;
  border-radius: 5px;
  font-size: 40px;
  margin-bottom: 20px;
  color: #ff0090;
}

.count {
  text-align: center;
}

button:focus {
  outline:0;
}
